# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Executable files
*.out

# Cargo package manager
/target/
/Cargo.lock

# Rust/Cargo specific files
**/*.rs.bk

# IDE specific files
/.vscode/
/.idea/
/*.code-workspace

# Other
.DS_Store
Thumbs.db